<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New trip</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="/logout">Log Out</a>
        </div>
        <div id="body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="error-message" >{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}  
            
            <form action="/trips/create" method="POST">
                {%csrf_token%}
                <div id="form">
                    <p>Destination: <input type="text" name="destination"></p>
                    <p>Start From: <input type="date" name="date_start" >
                    <p>End To:<input type="date" name="date_end"></p>
                    <p>Plan:<input type="text" name="plan"></p>
                    <button type="submit" >Add</button>
                </div>
            </form>
        </div>
    </div>  
</body>
</html>