<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <div id="wrapper">
        <h2>{{ author.first_name }} {{ author.last_name }}</h2>
        <h3> ID: {{ author.id }} </h3>
        <div id="description">    
            <h4> Note: {{ author.note}} </h4>
        </div>
        <br>
        <br>
        {% for book in author.books.all %}
        <h4>Books </h4>
        <li>{{ book.title }}</li>
        {% endfor %}
        <select name="books">
            {% for book in books %}
                {% if book not in author.books.all %}
                <option value="{{ book.id }}">{{ book.title }}</option>
                {% endif %}
            {% endfor %}
        </select><br>


    </div>
</body>
</html>