#container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
}

table{
    width: 70%;
    margin: auto;
}

hr{
    border: 20px;
    color:black;
}

form{
    width: 70%;
    margin: auto;
}