<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="/">Log Out</a>
            <h3>Sucess! Welcome {{ user.first_name }}!</h3>
            <h5>You are sucessfully registerd (or logged in)</h5>
        </div>
        <div id="footer">
            <a href='/message'>write your message from here!</a>
        </div>
    </div>

</body>
</html>