<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <div id="container">
        <h1> All the Users</h1>

            <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>user</th>
            </tr>
            <tr>
                {% for user in users %}
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.age }}</td>
            </tr>
            {% endfor %}
            </table>
        <hr>
        <h1> Add a User</h1>
            <form action="/process" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="age">Age</label>
                <input type="text" name="age">
                {% csrf_token %}
                <button type="submit" name='add'>Add</button>
            </form> 
    </div>
</body>
</html>