#container{
    width: 70%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#upper_row{
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.box{
    width: 250px;
    height: 250px;
    outline: black;
}

#log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

h3{
    color:blue;
}
